.row{
    display: flex;
    flex-direction: row;
}

.centered{
    display: flex;
    align-items: center;
}

.weigth{
    font-weight: bold;
}

.cards{
    width: 30em;
    height: 5em;
    margin-top: 2em;
    margin-left: 5em;
}
.cards .\31{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #444C56;
    border: 1px solid #444C56;
    border-bottom: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cards .\32{
    width: 100%;
    height: 50%;
    background-color: #2D333B;
    border: 1px solid #444C56;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.title{
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-left: 1em;
}

.cards [class="2"] .row {
    width: 100%;
    color: white;
    margin-left: 2em;
    overflow-wrap: break-word;
}